make: 'Toyota'
model: 'Avensis'
valuation_listing_id: 4627127218
final_filters:
  - 'price':
    column: 'price'
    operator: '<='
    value: 5000
  - 'Year':
    column: 'Year'
    operator: '>='
    value: 4
  - 'Odometer':
    column: 'Odometer'
    operator: '<='
    value: 230000
  # - 'Is4WD':
  #   column: 'Is4WD'
  #   operator: '=='
  #   value: True
  - 'Region_Otago':
    column: 'Region_Otago'
    operator: '=='
    value: 1
undervalued_threshold_min: 1000
undervalued_threshold_max: 10000
feature_engineering:
  columns_to_keep:
    - 'ListingId' # Needed to be able to filter the listing we are valuing.
    - 'Region'
    - 'EngineSize'
    - 'Odometer'
    - 'Year'
    - 'Transmission'
    - 'Fuel'
    - 'Cylinders'
    - 'ExteriorColour'
    - 'StereoDescription'
    - 'Is4WD'
    - 'IsNew'
    - 'IsDealer'
    - 'price'
sentence_transformer:
  model: 'paraphrase-MiniLM-L6-v2'